# Week8 - Lab 
## Working with Strings

[Kaggle ML & Data Science Survey - 2018](https://www.kaggle.com/kaggle/kaggle-survey-2018?select=freeFormResponses.csv)

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/freeFormResponses.csv', low_memory=False)

In [15]:
df

,Q11_OTHER_TEXT,Q12_OTHER_TEXT,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q15_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,Q6_OTHER_TEXT,Q7_OTHER_TEXT
0,Select any activities that make up an importan...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,...,During a typical data science project at work ...,What percentage of your current machine learni...,On which online platforms have you begun or co...,On which online platform have you spent the mo...,Who/what are your favorite media sources that ...,What metrics do you or your organization use t...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...
1,NaN,NaN,NaN,NaN,NaN,"Jupyter Notebooks, Pycharm, Intelijidea",NaN,NaN,NaN,NaN,...,0.0,NaN,mlcourse.ai,NaN,ods.ai,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,anaconda,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23855,NaN,NaN,NaN,SPSS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23856,NaN,NaN,NaN,NaN,NaN,NaN,"Apache Spark, Hadoop",NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23857,NaN,NaN,NaN,NaN,NaN,"JupyterLab, RStudio",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23858,NaN,NaN,Excel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23859,NaN,NaN,NaN,NaN,NaN,"Hadoop, Cloudera",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
for i, question in enumerate(df.loc[0].values):
    print(i, question)

0 Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text
1 What is the primary tool that you use at work or school to analyze data? (include text response) - Other - Text
2 What is the primary tool that you use at work or school to analyze data? (include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text
3 What is the primary tool that you use at work or school to analyze data? (include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text
4 What is the primary tool that you use at work or school to analyze data? (include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text
5 What is the primary tool that you use at work or school to analyze data? (include text response) - Local or hosted development environments (RStudio, JupyterLab, etc.) - Text
6 What is the primary tool that you use at work or school to analyze data? (include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text
7 Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
8 Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
9 Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
10 What programming languages do you use on a regular basis? (Select all that apply) - Other - Text
11 What specific programming language do you use most often? - Other - Text
12 What programming language would you recommend an aspiring data scientist to learn first? - Other - Text
13 What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Other - Text
14 What is your gender? - Prefer to self-describe - Text
15 Of the choices that you selected in the previous question, which ML library have you used the most? - Other - Text
16 What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Other - Text
17 Of the choices that you selected in the previous question, which specific data visualization library or tool have you used the most? - Other - Text
18 Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Other - Text
19 Which of the following machine learning products have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
20 Which of the following relational database products have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
21 Which of the following big data and analytics products have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
22 Which types of data do you currently interact with most often at work or school? (Select all that apply) - Other Data - Text
23 What is the type of data that you currently interact with most often at work or school? - Other Data - Text
24 Where do you find public datasets? (Select all that apply) - Other - Text
25 During a typical data science project at work or school, approximately what proportion of your time is devoted to the following? (Answers must add up to 100%) - Other
26 What percentage of your current machine learning/data science training falls under each category? (Answers must add up to 100%) - Other - Text
27 On which online platforms have you begun or completed data science courses? (Select all that apply) - Other - Text
28 On which online platform have you spent the most amount of time? - Other - Text
29 Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Other - Text
30 What metrics do you or your organization use to determine whether or not your models were successful? (Select all that apply) - Other - Text
31 What tools and methods do you use to make your work easy to reproduce? (Select all that apply) - Other - Text
32 What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Other - Text
33 Select the title most similar to your current role (or most recent title if retired): - Other - Text
34 In what industry is your current employer/contract (or your most recent employer if retired)? - Other - Text

In [3]:
df.loc[:, 'Q12_Part_4_TEXT'].value_counts().sort_values(ascending =False)[150:200]

Python 3.6                      3
Spyder, Jupyter Notebook        3
Jupyter Lab                     3
py                              3
Jupyter Notebook, PyCharm       3
Python R                        3
R & Python                      3
Visual Studio                   3
Knime                           3
Python & R                      3
Studio                          3
JupyterNotebooks                3
Python,R                        3
R, Spyder                       3
SQL Server                      3
Anaconda Spyder                 3
RStudio, JupiterLab             3
R Studio, Jupyter               3
Jupiter notebooks               3
Rstudio, Jupyterlab             3
JupyterLab, Jupyter Notebook    3
Python, Jupyterlab              3
jupyter notebook                3
Jupyter Notebook, RStudio       3
jupyter-notebook                3
RStudio,Anaconda                3
JUPYTER                         3
IPython                         3
IBM Watson Studio               3
Rstudio,JupyterLab              3
Python, Jupyter Notebooks       3
colab                           3
PyCharm, Anaconda               3
Jupterlab                       3
Python ecosystem                3
Jupyter, pandas                 3
R and python                    3
sklearn                         3
Jupyter, Spyder                 3
RStudio, MATLAB                 3
RStudio and python              3
Jupyter and Python              3
RStudio and Spyder              3
Python, Pandas                  3
JupyterLab, Pandas              3
Local Jupyter                   3
RStudio, Jupyterlab             3
Python, Matlab                  3
SQL                             3
r and python                    3
Name: Q12_Part_4_TEXT, dtype: int64

__Your Task__

- In  `Q12_Part_4_TEXT` they ask the tools the participants are using day to day. However as you might observe the answers are not standardized. 

- Find all the answers with 'jupyter' mentioned in it.

- Find all the participant who are Python users.

- Find all R users.

In [12]:
df.loc[:, 'Q12_Part_4_TEXT'].value_counts().sort_values(ascending =True)

Python console R Studio                 1
Python, Matlab, C++                     1
Python, Spyder                          1
tools developed by c++ or python        1
Most popular Python stats packages      1
                                     ...
Rstudio                               294
Python                                496
Jupyter                               682
RStudio                               733
JupyterLab                            748
Name: Q12_Part_4_TEXT, Length: 3367, dtype: int64

In [16]:
df.Q12_Part_4_TEXT.unique()

array(['What is the primary tool that you use at work or school to analyze data? (include text response) - Local or hosted development environments (RStudio, JupyterLab, etc.) - Text',
       'Jupyter Notebooks, Pycharm, Intelijidea', nan, ...,
       'python, pytorch, tensorflow', 'C++, R', 'Hadoop, Cloudera'],
      dtype=object)

In [17]:
df.Q12_Part_4_TEXT.nunique()

3367

In [26]:
df['Q12_Part_4_TEXT'].isnull

<bound method Series.isnull of 0        What is the primary tool that you use at work ...
1                  Jupyter Notebooks, Pycharm, Intelijidea
2                                                      NaN
3                                                 anaconda
4                                                      NaN
                               ...
23855                                                  NaN
23856                                                  NaN
23857                                  JupyterLab, RStudio
23858                                                  NaN
23859                                     Hadoop, Cloudera
Name: Q12_Part_4_TEXT, Length: 23860, dtype: object>

In [29]:
df.dropna(subset = ['Q12_Part_4_TEXT'] , axis = 0 , inplace = False)

,Q11_OTHER_TEXT,Q12_OTHER_TEXT,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q15_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,Q6_OTHER_TEXT,Q7_OTHER_TEXT
0,Select any activities that make up an importan...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,...,During a typical data science project at work ...,What percentage of your current machine learni...,On which online platforms have you begun or co...,On which online platform have you spent the mo...,Who/what are your favorite media sources that ...,What metrics do you or your organization use t...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...
1,NaN,NaN,NaN,NaN,NaN,"Jupyter Notebooks, Pycharm, Intelijidea",NaN,NaN,NaN,NaN,...,0.0,NaN,mlcourse.ai,NaN,ods.ai,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,anaconda,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,Python in Notebooks,NaN,NaN,NaN,NaN,...,0.0,NaN,GitHub,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,JupyterLab,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23850,NaN,NaN,NaN,NaN,NaN,"python, pytorch, tensorflow",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23851,NaN,NaN,NaN,NaN,NaN,"C++, R",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23852,NaN,NaN,NaN,NaN,NaN,Python,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23857,NaN,NaN,NaN,NaN,NaN,"JupyterLab, RStudio",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23859,NaN,NaN,NaN,NaN,NaN,"Hadoop, Cloudera",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df['Q12_Part_4_TEXT'].dropna(axis = 0 ).str.split(expand = True  )

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,What,is,the,primary,tool,that,you,use,at,work,...,None,None,None,None,None,None,None,None,None,None
1,Jupyter,"Notebooks,","Pycharm,",Intelijidea,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,anaconda,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,Python,in,Notebooks,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,JupyterLab,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23850,"python,","pytorch,",tensorflow,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23851,"C++,",R,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23852,Python,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23857,"JupyterLab,",RStudio,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23859,"Hadoop,",Cloudera,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [57]:
df = df.fillna('')

In [58]:
df['Q12_Part_4_TEXT'].dropna().items()

In [59]:
df['Q12_Part_4_TEXT'].dropna(axis = 0)

0        What is the primary tool that you use at work ...
1                  Jupyter Notebooks, Pycharm, Intelijidea
2
3                                                 anaconda
4
                               ...
23855
23856
23857                                  JupyterLab, RStudio
23858
23859                                     Hadoop, Cloudera
Name: Q12_Part_4_TEXT, Length: 23860, dtype: object

In [62]:
df[df['Q12_Part_4_TEXT'].str.contains('jup' , case = False)]['Q12_Part_4_TEXT']

0        What is the primary tool that you use at work ...
1                  Jupyter Notebooks, Pycharm, Intelijidea
7                                               JupyterLab
9                                               Jupyterlab
12                            JupyterLab, Jupyter Notebook
                               ...
23825                                          Jupyterlab
23836                                              jupyter
23847                                              Jupyter
23848                                      jupter notebook
23857                                  JupyterLab, RStudio
Name: Q12_Part_4_TEXT, Length: 4683, dtype: object

In [64]:
df[df['Q12_Part_4_TEXT'].str.contains('\s,Jpy\w+|^py' , case = False , regex = True)]['Q12_Part_4_TEXT']

6                Python in Notebooks
28                            Python
60                            Python
78                      Python/Julia
79                        Python & R
                    ...
23801                    python hive
23830                         python
23837              Python data stack
23850    python, pytorch, tensorflow
23852                         Python
Name: Q12_Part_4_TEXT, Length: 1680, dtype: object

In [60]:
df[df['Q12_Part_4_TEXT'].str.contains( '^r[\s,(st)]|rst|\sr\s|[,\s]', case = False , regex = True)]['Q12_Part_4_TEXT']

0        What is the primary tool that you use at work ...
1                  Jupyter Notebooks, Pycharm, Intelijidea
6                                      Python in Notebooks
10                                                 Rstudio
12                            JupyterLab, Jupyter Notebook
                               ...
23849                                             R studio
23850                          python, pytorch, tensorflow
23851                                               C++, R
23857                                  JupyterLab, RStudio
23859                                     Hadoop, Cloudera
Name: Q12_Part_4_TEXT, Length: 5782, dtype: object